################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FacialRecongnition/AWSRekonition/bin/Debug/netcoreapp2.1
/FacialRecongnition/AWSRekonition/obj/Debug
/FacialRecongnition/AWSRekonition/obj
/FacialRecongnition/WebApi/bin/Debug/netcoreapp2.1
/FacialRecongnition/WebApi/obj
/FacialRecongnition/.vs
